* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(
    90deg,
    rgb(235, 135, 192),
    rgb(0, 183, 255),
    rgb(0, 255, 247),
    rgb(0, 255, 89),
    rgb(216, 253, 66)
  );
}
.cardBg {
  height: fit-content;
  width: 100%;
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}
article {
  height: 60px;
  width: 100%;
  /* border: 1px solid black; */
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
#section {
  height: fit-content;
  width: 100%;
  /* padding: 10px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  gap: 60px;
}
.card {
  height: 400px;
  width: 300px;
  /* border: 1px solid black ; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px lightslategray;
  /* transition-property: all; */
  transition-duration: .2s;
  /* transition-timing-function: linear; */
  transition-delay: 0s;
}
section {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}
.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* border: 1px solid black; */
}
.cont img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: relative;
  /* transition-property: all; */
  transition-duration: 0.5s;
  /* transition-timing-function: linear; */
  transition-delay: 0s;
}
.cont .line {
  height: 10px;
  width: 50%;
  /* border: 1px solid black; */
  border-radius: 100px;
  background-image: linear-gradient(
    90deg,
    rgb(235, 135, 192),
    rgb(0, 183, 255),
    rgb(0, 255, 247),
    rgb(0, 255, 89),
    rgb(216, 253, 66)
  );
  position: relative;
  /* transition-property: all; */
  transition-duration: 0.5s;
  /* transition-timing-function: linear; */
  transition-delay: 0s;
}
.cont .container {
  height: 20%;
  width: 100%;
  /* position: relative; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container aside {
  font-size: 25px;
  text-transform: capitalize;
  color: black;
}
p a {
  text-transform: capitalize;
  font-size: 10px;
}
.card:hover img{
    height: 180px;
    width: 180px;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.card:hover .line{
    width: 100%;
    transition:0.5s ease-in-out;
}