* {
  margin: 0px;
  padding: 0px;
  box-sizing:border-box ;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:50px 0px;
    background-color: cornsilk;
}
thead{
    background-color: lightgreen;
    border:none;
}
thead th{
  padding: 10px;
}
tbody{
  background-color: white;
  border: none;
}
tbody td{
  padding: 10px;
  text-align: center;
}
tbody img{
  height: 150px;
  border-radius: 10px;
}
tbody a{
  color: red;
}